input[type=range] {
  --track-bg: var(--color-base-5);
  --track-active-bg: var(--color-base-5);

  --thumb-bg: var(--color-primary);
  --thumb-border: transparent;

  --thumb-hover-border: hsla(var(--base), 90%, 35%);

  &,
  .light & {
    --thumb-hover-border: hsla(var(--base), 90%, 35%)
  }

  .dark & {
    --thumb-hover-border: hsla(var(--base), 90%, 10%)
  }

  .contrast & {
    --thumb-bg: var(--color-background);
    --thumb-hover-border: var(--color-foreground);
  }

  @media (prefers-color-scheme: dark) {
    & {
      --thumb-hover-border: hsla(var(--base), 90%, 10%)
    }
  }
}

/* Chromium */
input[type=range] {
  appearance: none;
}

/* layout */
.Range {
  align-items: center;
  display: flex;
  width: 100%;
}

.Range__Data {
  font-size: 83%;
  margin-left: var(--grid);
  text-align: right;
  width: 100px;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: calc(var(--border-radius) * 0.5 + 1px);
  border: none;
  height: calc(var(--grid) + 2px);
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  display: block;
  appearance: none;
  background-clip: padding-box;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-width: calc(var(--grid) * 1.25);
  cursor: pointer;
  height: calc(var(--grid) * 3.5);
  margin-top: calc(var(--grid) * -1.25 + 1px);
  position: relative;
  width: calc(var(--grid) * 3.5);
}

/* color */
input[type=range]::-webkit-slider-runnable-track,
input[type=range]:hover::-webkit-slider-runnable-track,
input[type=range]:active::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: var(--track-bg);
}

input[type=range] {
  &::-webkit-slider-thumb {
    background-color: var(--thumb-bg);
    border-color: var(--thumb-border);
  }

  &::-webkit-slider-thumb:hover,
  &:focus::-webkit-slider-thumb,
  &:active::-webkit-slider-thumb {
    border-color: var(--thumb-hover-border);
  }
}

/* Firefox */

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  /* border: 1px solid white;  */

  /*required for proper track sizing in FF*/
  width: 100%;
}

input[type=range] {

  &::-moz-range-track,
  &:hover::-moz-range-track,
  &:active::-moz-range-track,
  &:focus::-moz-range-track {
    background-color: var(--track-bg);
    border-radius: 3px;
    border: none;
    height: calc(var(--grid) + 2px);
    width: 100%;
  }

  &::-moz-range-thumb {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--thumb-bg);
    border-color: var(--thumb-border);
    border-radius: 50%;
    border-style: solid;
    border-width: calc(var(--grid) * 1.25);
    box-sizing: border-box;
    cursor: pointer;
    height: calc(var(--grid) * 3.5);
    width: calc(var(--grid) * 3.5);
  }

  &::-moz-range-thumb:hover,
  &:focus::-moz-range-thumb,
  &:active::-moz-range-thumb {
    border-color: var(--thumb-hover-border);
  }
}

/*hide the outline behind the border*/
/* input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
} */