/* Chromium */
input[type=range] {
  appearance: none;
}

/* layout */
.Range {
  align-items: center;
  display: flex;
  width: 100%;
}

.Range__Data {
  font-size: 83%;
  margin-left: var(--grid);
  text-align: right;
  width: 100px;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: calc(var(--border-radius) * 0.5 + 1px);
  border: none;
  height: calc(var(--grid) + 2px);
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  display: block;
  appearance: none;
  background-clip: padding-box;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-width: calc(var(--grid) * 1.25);
  /* 2.5 */
  cursor: pointer;
  height: calc(var(--grid) * 3.5);
  margin-top: calc(var(--grid) * -1.25 + 1px);
  position: relative;
  width: calc(var(--grid) * 3.5);
}

/* color */
input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--color-base-high);
}

input[type=range]:hover::-webkit-slider-runnable-track,
input[type=range]:active::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: var(--color-base-high);
}

input[type=range]::-webkit-slider-thumb {
  background-color: var(--color-primary);
  border-color: transparent;

  &:hover {
    border-color: hsla(var(--base), 90%, 35%)
  }

  .dark &:hover {
    border-color: hsla(var(--base), 90%, 10%)
  }
}

.contrast input[type=range]::-webkit-slider-thumb {
  background-color: var(--color-background);

  &:hover {
    border-color: var(--color-foreground);
  }
}

@media (prefers-color-scheme: dark) {
  input[type=range]::-webkit-slider-thumb:hover {
    border-color: hsla(var(--base), 90%, 10%)
  }
}

/* Firefox */

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  /* border: 1px solid white;  */

  /*required for proper track sizing in FF*/
  width: 100%;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}