.AdjustFont {}

.AdjustFont__Unit {
  justify-content: flex-end;
  font-size: 0.75rem;
}

.AdjustFont__Unit .FormItem__Label {
  min-width: auto;
}

.AdjustFont__Unit .FormItem__Children {
  width: auto
}

.AdjustFont-Toggle {
  --toggle-slider-height: calc(var(--baseline) * .75);
  --toggle-slider-width: calc(var(--baseline) * 1.75);
  --toggle-puck-height: calc(var(--toggle-slider-height) - 2px);
  --toggle-puck-width: var(--toggle-puck-height);
}

.AdjustFont-Toggle--toggle {
  position: relative;
  border-radius: calc(var(--baseline) * 1);
  height: var(--toggle-slider-height);
  width: var(--toggle-slider-width);
  border-radius: calc(var(--baseline) * .375);
  overflow: hidden;
}

.AdjustFont-Toggle__Input+.AdjustFont-Toggle__Label {
  display: block;
  font-size: 0.67rem;
  padding: 0 0 0 calc(var(--toggle-puck-width) - 2px);
  text-align: center;
  width: 100%;
}

.AdjustFont-Toggle__Input:checked+.AdjustFont-Toggle__Label {
  padding: 0 calc(var(--toggle-puck-width) - 2px) 0 0;
}

.AdjustFont-Toggle--toggle .AdjustFont-Toggle__Label::after {
  border-radius: 50%;
  content: '';
  display: block;
  height: var(--toggle-puck-height);
  left: 0;
  position: absolute;
  top: 0;
  transition: var(--transition-fast);
  width: var(--toggle-puck-width);
}

.AdjustFont-Toggle--toggle .AdjustFont-Toggle__Input:checked+.AdjustFont-Toggle__Label::after {
  left: calc(var(--toggle-slider-width) - var(--toggle-puck-width) - 2px);
}

.AdjustFont-Toggle--toggle .AdjustFont-Toggle__Input {
  display: none;
}

/* Colors */
.AdjustFont-Toggle--toggle {
  background-color: var(--color-base-5);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-base-5);
}

.App.contrast .AdjustFont-Toggle--toggle {
  background-color: var(--background-color);
  border-color: var(--color-foreground);
}

.AdjustFont-Toggle--toggle .AdjustFont-Toggle__Label {
  &::after {
    background-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    border-color: var(--color-base-5);

    cursor: pointer;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: var(--color-primary-hover);
  }
}

.App.contrast .AdjustFont-Toggle--toggle .AdjustFont-Toggle__Label {
  &::after {
    background-color: var(--color-foreground);
    border-color: var(--color-background);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    border-width: 1px;
  }
}