button {
  cursor: pointer;
}

.btn.button {
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  line-height: calc(var(--baseline) * 1.25);
  padding: 0 calc(var(--grid) * 1.5);
}