.btn.alternative {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-background);

  &:hover,
  &:focus,
  &.active {
    background-color: var(--color-secondary-hover);
    border-color: var(--color-secondary-hover);
  }

  .contrast & {
    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-background);
      color: var(--color-foreground);
    }
  }
}