.btn.highlight {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-background);

  &:active,
  &:focus,
  &:hover,
  &.active {
    background-color: var(--color-primary-hover);
  }
}