button {
  cursor: pointer;
}

.Button,
[class*="__button"] {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-foreground);
  cursor: pointer;
  line-height: calc(var(--baseline) * 1.25);
  padding: 0 calc(var(--grid) * 1.5);
}

.Button:hover,
.Button:focus,
.Button:active,
[class*="__button"]:hover,
[class*="__button"]:focus,
[class*="__button"]:active {
  background: var(--color-base-shadow);
  color: var(--color-primary);
}

[class*="--icon"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--grid) * 1);
  border-radius: 50%;
  transition: var(--transition-fast);
  height: calc(var(--baseline) * 1.25);
  width: calc(var(--baseline) * 1.25);
  min-height: calc(var(--baseline) * 1.25);
  min-width: calc(var(--baseline) * 1.25);
  color: var(--color-foreground);
}

[class*="--icon"]:hover,
[class*="--icon"]:focus,
[class*="--icon"]:active {
  background: var(--color-base-shadow);
  color: var(--color-primary);
}

[class*="--primary"] {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

[class*="--primary"]:hover,
[class*="--primary"]:focus {
  color: var(--color-white);
  border-color: var(--color-primary-hover);
  background-color: var(--color-primary-hover);
}



[class*="--secondary"] {
  color: var(--color-white);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

[class*="--secondary"]:hover,
[class*="--secondary"]:focus {
  color: var(--color-white);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary-hover);
}



[class*="--with-tooltip"] {
  position: relative;
}

[class*="--with-tooltip"] .Button__tooltip {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  bottom: calc(100% + calc(var(--baseline) * 3/8));
  left: 50%;
  transform: translateX(-50%);

  line-height: var(--baseline);
  font-size: 0.66rem;
  padding: 0 calc(var(--baseline) * .5);
  border-radius: calc(var(--baseline) * .5);
  background: var(--color-base-shadow);
  color: var(--color-foreground);
  width: max-content;
}

[class*="--with-tooltip"] .Button__tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  border: var(--grid) solid transparent;
  border-top-color: var(--color-base-shadow);
}

[class*="--with-tooltip"]:hover .Button__tooltip {
  animation: fadeInOut 2.5s ease-in-out forwards;
}

[class*="--with-tooltip"] .Button__tooltip:hover,
[class*="--with-tooltip"] .Button__tooltip:focus {
  opacity: 1;
  visibility: visible;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  0% {
    opacity: 1;
    visibility: visible;
  }

  99% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}