.Button--Round {
  align-items: center;
  border-radius: 50%;
  border-color: var(--color-background);
  color: var(--color-foreground);
  display: inline-flex;
  height: calc(var(--baseline) * 1.5);
  justify-content: center;
  min-height: calc(var(--baseline) * 1.5);
  min-width: calc(var(--baseline) * 1.5);
  padding: calc(var(--grid) * 1.5);
  transition: var(--transition-fast);
  width: calc(var(--baseline) * 1.5);
}

.Button--Round:hover,
.Button--Round:active,
.Button--Round:focus,
.Button--Round.Button--active {
  color: var(--color-primary);
  background-color: var(--color-background);
}