.btn.round {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: calc(var(--baseline) * 1.5);
  justify-content: center;
  min-height: calc(var(--baseline) * 1.5);
  min-width: calc(var(--baseline) * 1.5);
  padding: calc(var(--grid) * 1.5);
  transition: var(--transition-fast);
  width: calc(var(--baseline) * 1.5);
}