.btn.default {
  background-color: var(--color-background);
  border-color: var(--color-border);
  color: var(--color-foreground);

  &:active,
  &:focus,
  &:hover,
  &.active {
    background-color: var(--color-base-shadow);
    border-color: var(--color-border);
    color: var(--color-primary);
  }

  .contrast & {

    &:active,
    &:focus,
    &:hover,
    &.active {
      background-color: var(--color-foreground);
      color: var(--color-background);
    }
  }
}