.ButtonHelp {
  height: calc(var(--grid) * 2);
  width: calc(var(--grid) * 2);
  color: var(--color-base-3);
  border-radius: 50%;

  &:hover {
    color: var(--color-primary);
  }

  .contrast & {
    color: var(--color-primary);

    &:hover {
      color: var(--color-background);
      background-color: var(--color-foreground);
    }
  }
}