.btn.highlight {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-background);

  &:hover,
  &:focus,
  &.active {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }

  .contrast & {

    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-background);
      color: var(--color-foreground);
    }
  }
}