.ButtonHelp {
  height: calc(var(--grid) * 2);
  width: calc(var(--grid) * 2);
  color: var(--color-base-4);
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary);
  }

  .contrast & {
    color: var(--color-primary);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-background);
      background-color: var(--color-foreground);
    }
  }
}