.Output {}

.Output__Clipboard {
  position: absolute;
  top: calc(var(--baseline) * 0.5);
  right: calc(var(--baseline) * 0.5);
  /* padding: var(--grid); */
  /* overflow: visible; */
}

.Output__Icon {
  max-width: calc(var(--baseline) * 0.75);
}