.App.dark.contrast {
  --color-foreground: hsl(var(--base), 100%);
  --color-background: hsl(var(--base), 0%);

  --color-primary: var(--color-foreground);
  --color-secondary: var(--color-primary);

  --color-base-5: var(--color-foreground);
  --color-base-4: var(--color-foreground);
  --color-base-3: var(--color-base-3);
  --color-base-2: var(--color-background);
  --color-base-1: var(--color-background);
  --color-base-shadow: var(--color-background);

  --color-primary-hover: var(--color-base-3);
  --color-primary-inactive: hsl(var(--secondary), 70%);
  --color-primary-shadow: var(--color-background);

  --color-secondary-hover: var(--color-primary-hover);
  --color-secondary-inactive: var(--color-primary-inactive);
  --color-secondary-shadow: var(--color-primary-shadow);

  --color-border: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  .App.contrast {
    --color-foreground: hsl(var(--base), 100%);
    --color-background: hsl(var(--base), 0%);

    --color-primary: var(--color-foreground);
    --color-secondary: var(--color-primary);

    --color-base-5: var(--color-foreground);
    --color-base-4: var(--color-foreground);
    --color-base-3: var(--color-base-3);
    --color-base-2: var(--color-background);
    --color-base-1: var(--color-background);
    --color-base-shadow: var(--color-background);

    --color-primary-hover: var(--color-foreground);
    --color-primary-inactive: var(--color-foreground);
    --color-primary-shadow: var(--color-background);

    --color-secondary-hover: var(--color-primary-hover);
    --color-secondary-inactive: var(--color-primary-inactive);
    --color-secondary-shadow: var(--color-primary-shadow);

    --color-border: var(--color-foreground);
  }
}