.Tools__Tool {
  position: relative;
  width: calc(var(--baseline) * 1.5);
  height: calc(var(--baseline) * 1.5);


  .Checkbox__Label::before {
    content: attr(data-tooltip);
    position: absolute;
    display: block;
    top: 50%;
    left: calc(var(--baseline) * 2.25);
    transform: translateY(-50%);
    height: var(--baseline);
    line-height: var(--baseline);
    padding: 0 calc(var(--baseline) * .5);

    border-radius: calc(var(--baseline) * .5);
    font-size: 0.66rem;
    white-space: nowrap;

    visibility: hidden;
    opacity: 0;
    transition: var(--transition-medium);


  }

  .Checkbox__Label:hover::before,
  .Checkbox__Input:focus+.Checkbox__Label::before,
  .Checkbox__Label:active::before {
    left: calc(var(--baseline) * 2);
    animation: showHide 2.5s ease-in-out forwards;
  }

  .Checkbox__Label::before {
    background-color: var(--color-base-shadow);
    color: var(--color-foreground);
  }

  .App.contrast & {
    .Checkbox__Label::before {
      background-color: var(--color-foreground);
      color: var(--color-background);
    }
  }
}