.Workbench {
  height: 100%;
}

.typography *.Workbench__Sample,
.typography .Workbench__Box {
  margin-top: 0;
}

.Workbench__Box {
  mix-blend-mode: darken;
  background-color: var(--color-primary);
  opacity: 0.3;
  height: 100%;
}

.Workbench__Box.margin {
  background-color: var(--color-primary-inactive);
}

.Workbench__Box:nth-child(-n + 3) {
  height: 24px;
}

.App.dark {
  .Workbench__Box {
    mix-blend-mode: lighten;
  }
}

@media (prefers-color-scheme: dark) {
  .Workbench__Box {
    mix-blend-mode: lighten;
  }
}

.App.contrast {
  .Workbench__Box {
    background-color: hsla(9, 100%, 70%, 1);
    opacity: 1;
  }

  .Workbench__Box.margin {
    background-color: hsla(9, 100%, 85%);
  }
}