.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
  min-width: 1320px;
  width: 100vw;
  flex-wrap: wrap;
}

/* Editor Panels */
.App__Control {
  width: calc(var(--baseline) * 17);
  height: calc(100vh - 75px);

  flex-direction: column;
  flex-grow: 0;
  max-height: 100%;

  >* {
    margin-bottom: var(--baseline);
    height: 100%;
    overflow-y: scroll;
  }

  legend {
    padding: calc(var(--baseline) * 2) calc(var(--baseline) * 3) calc(var(--baseline) * 1);
    background: var(--color-background);
  }

  fieldset>.Wrapper {
    padding: calc(var(--baseline) * 1) calc(var(--baseline) * 1.5);
  }


  fieldset>.Wrapper>*:nth-child(1n + 2) {
    margin-top: var(--grid);
  }
}

/* Primary Work Area */
.App__View {
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100vw - calc(var(--baseline) * 36.5));
  height: calc(100vh - 75px);
  max-height: 100%;
}

/* CSS Preview */
.App__Output {
  position: relative;
  padding: calc(var(--baseline) * 1) calc(var(--baseline) * 1.5);
  font-family: monospace;
  text-align: left;
  width: calc(var(--baseline) * 17);
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

/* Save Indicator */
.App__Saving {
  position: absolute;
  top: 0;
  left: 0;
}