/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

svg {
  width: 100%;
  height: auto;
}

legend {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

legend+* {
  clear: both;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}


/*
  Additional Reset
*/

button,
input {
  border: none;
  background-color: transparent;
}

table,
th,
td {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem;
}