/* .first-color {
  background: hsl(153, 47%, 49%);
}

.second-color {
  background: hsl(180, 38%, 33%);
}

.third-color {
  background: hsl(211, 28%, 29%);
}

.fourth-color {
  background: hsl(9, 100%, 70%);
}

.color {
  background: hsl(9, 100%, 70%);
} */

:root {
  /* hsl base colors */
  --base: 0, 0%;
  --white: var(--base), 100%;
  --black: var(--base), 0%;
  --primary: 153, 74.5%;
  --secondary: 9, 100%;

  --baseline: 1.5rem;
  --grid: 0.375rem;

  --border-radius: var(--grid);

  --font-brand: 'Bungee', sans-serif;
  --font-body: 'Manrope', sans-serif;
  --font-heading: var(--font-body);
  --font-code: 'JetBrains Mono', monospace;

  /* flat colors */
  --color-white: hsl(var(--white));
  --color-black: hsl(var(--black));

  /* animation */
  --transition-slow: all 0.5s ease-in-out;
  --transition-medium: all 0.3s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;
}

.App {

  &,
  &.dark {
    --color-primary: hsl(var(--primary), 49%);
    --color-secondary: hsl(var(--secondary), 70%);
  }

  &.light {
    --color-foreground: hsl(var(--base), 13%);
    --color-background: hsl(var(--base), 100%);

    --color-base-low: hsl(var(--base), 18%);
    --color-base-medium: hsl(var(--base), 56.5%);
    --color-base-high: hsl(var(--base), 95%);
    --color-base-shadow: hsl(var(--base), 98%);

    --color-primary-hover: hsl(var(--primary), 59%);
    --color-primary-inactive: hsl(var(--primary), 79%);
    --color-primary-shadow: hsl(var(--primary), 94%);
  }

  &.dark {
    --color-foreground: hsl(var(--base), 100%);
    --color-background: hsl(var(--base), 13%);

    --color-base-low: hsl(var(--base), 95%);
    --color-base-medium: hsl(var(--base), 56.5%);
    --color-base-high: hsl(var(--base), 19%);
    --color-base-shadow: hsl(var(--base), 15%);

    --color-primary-hover: hsl(var(--primary), 39%);
    --color-primary-inactive: hsl(var(--primary), 26%);
    --color-primary-shadow: hsl(var(--primary), 13%);
  }

  &.light.contrast {
    --color-foreground: hsl(var(--base), 0%);
    --color-background: hsl(var(--base), 100%);
  }

  &.dark.contrast {
    --color-foreground: hsl(var(--base), 100%);
    --color-background: hsl(var(--base), 0%);
  }

  &.dark.contrast,
  &.light.contrast {
    --color-primary: var(--color-foreground);
    --color-primary-hover: hsl(var(--base), 50%);
    --color-primary-inactive: hsl(var(--secondary), 70%);
    --color-primary-shadow: var(--color-background);

    --color-secondary: var(--color-primary);
    --color-secondary-hover: var(--color-primary-hover);
    --color-secondary-inactive: var(--color-primary-inactive);
    --color-secondary-shadow: var(--color-primary-shadow);

    --color-base-low: var(--color-background);
    --color-base-medium: hsl(var(--base), 50%);
    --color-base-high: var(--color-foreground);
    --color-base-shadow: var(--color-foreground);

    --color-border: var(--color-foreground);
  }
}

.App {


  --color-secondary-hover: hsl(var(--secondary), 78%);
  --color-secondary-inactive: hsl(var(--secondary), 87%);
  --color-secondary-shadow: hsl(var(--secondary), 96%);

  --color-border: var(--color-base-high);

  &.dark {


    --color-secondary-hover: hsl(var(--secondary), 62%);
    --color-secondary-inactive: hsl(var(--secondary), 34%);
    --color-secondary-shadow: hsl(var(--secondary), 17%);
  }

  @media (prefers-color-scheme: dark) {
    & {
      --color-foreground: hsl(var(--base), 100%);
      --color-background: hsl(var(--base), 13%);
      --color-base-low: hsl(var(--base), 95%);
      --color-base-high: hsl(var(--base), 19%);
      --color-base-shadow: hsl(var(--base), 15%);

      --color-primary-hover: hsl(var(--primary), 39%);
      --color-primary-inactive: hsl(var(--primary), 26%);
      --color-primary-shadow: hsl(var(--primary), 13%);

      --color-secondary-hover: hsl(var(--secondary), 62%);
      --color-secondary-inactive: hsl(var(--secondary), 34%);
      --color-secondary-shadow: hsl(var(--secondary), 17%);
    }
  }
}

.light {}



body {
  font-family: var(--font-body);
  font-size: 14px;
  overflow: hidden;
}

pre,
code {
  font-family: var(--font-code);
  font-size: 0.83rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

legend {
  font-size: 0.6889rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--color-primary);
}

.App {
  background-color: var(--color-background);
  color: var(--color-foreground);
}